{{extend 'layout.html'}}

{{block header}}
<div class="jumbotron jumbotron-fluid background" style="background-color: #333; color:white; padding:30px;word-wrap:break-word;">
  <div class="container center">
    <h1 class="display-5">/{{=request.application}}/{{=request.controller}}/{{=request.function}}</h1>
  </div>
</div>
{{end}}

<h1>Questo è il template nyan/nyan.html</h1>
<a href="http://127.0.0.1:8000/test/nyan/">Index</a>

    {{block footer}}
    <footer class="footer container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div id="poweredBy" class="pull-right">
              <p>
                  © Jonny
              </p>
          </div>
        </div>
      </div>
    </footer>
    {{end}}
{{=BEAUTIFY(response._vars)}}
